days = {"M": "Mon", "T": "Tue", "W": "Wed", "TH": "Thu", "F": "Fri"}
campusLabels = {"CAC": "label-warning", "LIV": "label-info", "BUS": "label-primary", "D/C": "label-success"}

extends 'layout.html.jade'
block body
  .row
    .col-md-6.col-md-offset-3.text-center
      h1
        a(href="/") Scheduler
      include searchbar.html.jade
  .row
    .col-md-12
      h2
        | Results for
        i #{request.args.q}

      for item in data
        .course.clearfix
          h3
            if item.courseNumber
              #{item.courseNumber | title}
              &nbsp;&mdash;
            if item.expandedTitle
              #{item.expandedTitle | title}
            else
              #{item.title | title}

          for section in item.sections
            if section.printed == 'Y'
              .section.clearfix.row
                .col-md-12.clearfix
                  h4.col-md-4.section-title
                    | Section #{section.number}
                    if section.instructors
                      | &mdash;
                    for instructor in section.instructors
                      #{instructor.name | title}
                  span.col-md-2.section-status
                    if section.openStatus
                      span.label.label-success Open
                    else
                      span.label.label-danger Closed

                for time in section.meetingTimes
                  .col-md-3.meetingTime
                    span.glyphicon.glyphicon-time
                    if time.meetingDay and time.startTime and time.endTime
                      &nbsp;#{days[time.meetingDay]} #{time.startTime | timefix} &ndash; #{time.endTime | timefix}
                    else
                      i &nbsp;By Arrangement
                    if time.meetingModeDesc != 'LEC'
                      | (#{time.meetingModeDesc})
                    br
                    if time.buildingCode and time.roomNumber
                      span.glyphicon.glyphicon-map-marker
                      | &nbsp;#{time.buildingCode} #{time.roomNumber}
                    else
                      i None

                    l = campusLabels[time.campusAbbrev]
                    .label(class=l)= time.campusAbbrev

                    .large-3.hide-for-small.columns

              .action-buttons
                if section.openStatus
                  a.btn.btn-success(href="https://sims.rutgers.edu/webreg/editSchedule.htm?login=cas&semesterSelection=92013&indexList=#{section.index}", target="_blank") Register
                elif request.args.campus == 'NB'
                  a.btn.btn-info(href="http://sniper.vverma.net/?subject=#{item.subject}&course_number=#{item.courseNumber}&section=#{section.number}", target="_blank") Snipe
