days = {"M": "Mon", "T": "Tue", "W": "Wed", "TH": "Thu", "F": "Fri"}
campusLabels = {"CAC": "label-warning", "LIV": "label-info", "BUS": "label-primary", "D/C": "label-success"}

extends 'layout.html.jade'
block body
  .row
    .col-md-6.col-md-offset-3.text-center
      h1 Scheduler
      include searchbar.html.jade
  .row
    .col-md-12
      h2
        | Results for
        i #{request.args.q}
        // | Displaying results for subject #{subject}
        // if course
        //   | and course #{course}

      for item in data
        .course.clearfix
          h3
            //.large-2.small-3.columns #{item.offeringUnitCode}:#{item.subject}:#{item.courseNumber}
            if item.courseNumber
              = item.courseNumber
              &nbsp;&mdash;
            if item.expandedTitle
              = item.expandedTitle | title
            else
              = item.title | title

          for section in item.sections
            if section.printed == 'Y'
              .section.clearfix
                h4
                  | Section #{section.number}
                  if section.instructors
                    | &mdash;
                  for instructor in section.instructors
                    = instructor.name | title
                for time in section.meetingTimes
                  .col-md-3.meetingTime
                    span.glyphicon.glyphicon-time
                    if time.meetingDay and time.startTime and time.endTime
                      &nbsp;#{days[time.meetingDay]} #{time.startTime | timefix} &ndash; #{time.endTime | timefix}
                    else
                      i &nbsp;By Arrangement
                    if time.meetingModeDesc != 'LEC'
                      | (#{time.meetingModeDesc | title})
                    br
                    if time.buildingCode and time.roomNumber
                      span.glyphicon.glyphicon-map-marker
                      | &nbsp;#{time.buildingCode} #{time.roomNumber}
                    else
                      i None

                    l = campusLabels[time.campusAbbrev]
                    .label(class=l)= time.campusAbbrev

                    .large-3.hide-for-small.columns
